.heading {
    padding:20px;
}
.c5 {
    background-color: black;
    color:white;
}
.table {
    background-color: rgb(182, 210, 201);
    width:500px;
}
.c6 {
    background-color: yellow;
    color:red;
}
.c1 {
    background-color: green;
    color:white;
}
.error {
    color:red;
}
.img {
    width:400px;
    height:250px;
    border-radius: 25px;
    margin-left: 500px;
}

.mat-tab-group {
    margin-bottom: 48px;
  }