.one {
    padding: 20px;
}
.heading {
    color:red;
    text-decoration: underline;
}
.dec {
    background-color:yellow ;
}
.heading1 {
    color:blue;
    text-decoration: underline;
}
.c1 {
    background-color: red;
}
.c2 {
    color:white;
    font-size: 20px;
}
.c3 {
    color:red;
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
}
.c4 {
    color:rgb(239, 225, 225);
    background-color: rgb(0, 229, 255);
    font-size: 30px;
    font-weight: bold;
}
.c5 {
    background-color: black;
    color:white;
}
.success {
    color: green;
}
.error {
    color: red;
}