.form {
    padding:40px 30px 30px 30px ;
    background-color: rgb(223, 229, 229);
    border-radius: 1%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)

        
    // display: flex;
    // align-items: center;
    // justify-content: center;

    // display:grid;
    // place-items: center;
}
input {
    width: 300px;
    height: 20px;
    font-size: 12px;
    padding: 2px;
}
button {
    width: 300px;
    height: 30px;
    font-size: 12px;
    background-color: rgb(55, 55, 106);
    border-radius: 2px;
    border:0px;
    color:white;
}
.errorMessage {
    color:red
}
.heading {
    text-align: center;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.image {
    width:150px;
    height:100px;
    margin-bottom: 80px ;
    margin-left: 70px ;
}
.reg {
    margin-top: 30px;
    text-align: center;
}